<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-box">
    <h1>🍽️ Foodies Hub</h1>
    <h2>Admin Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <p class="error">{{ error }}</p>

</div>

</body>
</html>